/****** LANDING ******/
.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    line-height: 1.8;
    text-align: center;
    margin: auto;
}

.landing-logo-container {
    width: 5vw;
    height: 5vw;
    margin: auto;
}

.landing-logo {
    width: 100%;
    height: auto;
}

.highlight {
    display: inline;
    border-radius: 10px;
    background-color: #fcf4dc;
}

/****** MEDIA QUERIES *******/
/* If viewport becomes too wide, .landing-text font size responds to viewport height*/
@media (min-aspect-ratio: 880/324) {
    .landing-text {
        font-size: 13.5vh;
    }
}