/****** LANDING ******/
.html {
    font-size: 5vmax;
}

.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/****** centre text ******/
.landing-text-container {
    margin: auto;
    animation: fadein 2s;
    width: 95%;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vmax;
    line-height: 1.8;
    text-align: center;
}

.nametag {
    display: inline-block;
    border-radius: .3em;
    color: royalblue;
    text-decoration: none;
}

.nametag::before {
    content: '';
    font-size: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: red;
    border-radius: 50%; 
    transition: 0.2s ease-out;
}

.nametag:hover::before {
    height: 0.25rem;
    width: 75%;
    border-radius: .3em;
    content: 'see my card';
    font-size: 0.25em;
    color: red;
    display: block;
    animation: fadein 1s;
}

/****** modals ******/
/* general modal style */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* general modal content/box style */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 1em;
    width: 45vw; /* Could be more or less, depending on screen size */
    height: 28.373vw;
}

/****** scroll icon ******/  
.scroll-icon-dot {
    font-size: 5vmax;
    display: block;
    position: absolute;
    left: 50%;
    background: black;
    height: .125em;
    width: .125em; /* same as height */
    top: 50%;
    margin-left: -0.0625em; /* half of height */
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll 3s ease-out infinite;
}

.scroll-icon {
    font-size: 5vmax;
    display: block;
    position: relative;
    height: 1em;
    width: 0.5em; /* half of height */
    border: .1em solid black;
    border-radius: 1em;
    margin-bottom: 50%;
    animation: fadein 2s;
}

/****** KEYFRAMES ******/
@keyframes scroll {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(-.3em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translate(0, 0.8em);
    }
    to {
        opacity:1;
        transform: translate(0, 0);
    }
}

/****** MEDIA QUERIES *******/
/* If viewport becomes too wide, .landing-text font size responds to viewport height*/
@media (min-aspect-ratio: 880/324) {
    .landing-text {
        font-size: 13.5vh;
    }
    
    .html {
        font-size: 13.5vh;
    }

    .scroll-icon {
        font-size: 13.5vh;
        display: none;
    }

    .scroll-icon-dot {
        font-size: 13.5vh;
        display: none;
    }
}

/* To prevent text from wrapping on narrow displays*/
@media (max-aspect-ratio: 654/1106) {
    .landing-text {
        font-size: 8vw;
    }

    .html {
        font-size: 8vw;
    }
}