/****** GENERAL STYLES ******/
html{ 
    overflow: scroll; 
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.clickable {
    cursor: pointer;
}

/* responsive images */
.respImg {
    width: 100%;
    height: auto;
}

/****** LANDING ******/
#landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* centre text */
.landing-text-container {
    margin: auto;
    animation: fadein 2s;
    width: 95%;
}

.landing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vmax;
    line-height: 1.8;
    text-align: center;
}

.nametag {
    display: inline-block;
    border-radius: .3em;
    color: royalblue;
    text-decoration: none;
}

.nametag::before {
    content: 'view my card';
    font-size: .33em;
    color: transparent;
    width: 2.7vw;
    height: 2.7vw;
    display: block;
    background-color: #ff605c;
    border-radius: 50%;
    margin: auto;
    transition: background-color 0.1s, border-radius 0.2s, width 0.1s, color 0.2s;
}

.nametag:hover::before, .nametag:focus::before, .nametag:active::before {
    border-radius: .33em;
    background-color: #ff605c;
    width: 100%;
    height: 2.7vw;
    content: 'view my card';
    font-size: .33em;
    color: white;
    /*animation: fadein-nametag 0.5s;*/
    margin: auto;
}

/* general modal style */
.modal {
    display: none; /* Hidden by default, flex upon click */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    animation: fadein-nametag-modal 0.5s;
}

/* nametag modal */
#nametagCard {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    margin: auto; /* centre item */
    padding: 20px;
    border-radius: 1em;
    width: 47vw; /* Could be more or less, depending on screen size */
    height: 28vw; /* maintain ~1.586 aspect ratio */
    position: relative;
    display: flex;
    animation: fadein-nametag-modal 0.5s;
}

#nametagName {
    position: absolute;
    top: -.73em;
    left: .35em;
    font-size: 6vw;
    color: white;
    animation: fadein-nametag-modal 0.5s;
}

#nametagSite {
    position: absolute;
    bottom: 1.5em;
    right: 1.666667em;
    font-size: 1.5vw;
    color: white;
    animation: fadein-nametag-modal 0.5s;
    text-decoration: none;
}

#nametagSite:hover {
    color: hsl(1, 85%, 68%);
    transition: 0.25s;
}

#nametagBL {
    position: absolute;
    bottom: .5em;
    left: .5em;
    font-size: 5vw;
    background-color: white;
    width: .5em;
    height: .15em;
    animation: fadein-nametag-modal 0.5s;
}

#nametagClose {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 5vw;
    background-color:#ff605c;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    animation: fadein-nametag-modal 0.5s;
    display: flex;
}

#nametagCloseX {
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.65);
    display: none;
    text-align: center;
    margin: 2% auto;
}

#nametagSocials {
    width: 85%;
    margin: 26% auto;
    display: flex;
    animation: fadein-nametag-modal 0.5s;
}

#nametagEmail, #nametagLI, #nametagGH {
    margin: auto;
    width: 6.5vw;
    filter: invert(1);
    text-decoration: none;
    font-size: 2vw;
    animation: fadein-nametag-modal 0.5s;
}

.tooltip {
    display: none;
    margin: auto;
    font-size: 1.5vw;
    color: black;
    text-align: center;
    width: 100%;
    animation: fadein-tooltip 0.3s;
}

#emailCopied {
    color: #a30400;
    filter: saturate(80%);
    animation: fadein 0.3s;
}

/****** scroll arrow ******/  
.scroll-arrow-container {
    animation: fadein-scroll 2s;
}

.scroll-arrow {
    box-sizing: border-box;
    height: 3.2vw;
    width: 3.2vw;
    border-style: solid;
    border-color: black;
    border-width: 0 .28em .28em 0;
    transform: rotate(45deg);
    transition: 0.15s ease-out;
    margin-bottom: 2em;
}

.scroll-arrow:hover {
    border-color: #ff605c;
    height: 4vw;
    width: 4vw;
}

/****** PROJECTS ******/
#projects {
    width: 100vw;
    height: 100vh;
}

/****** KEYFRAMES ******/
@keyframes scroll {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(-.3em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadein-nametag {
    0% {
        opacity:0;
        transform: translate(0, 0.8em);
    }

    100% {
        opacity:1;
        transform: translate(0, 0);
    } 
}

@keyframes fadein-nametag-modal {
    0% {
        opacity:0;
        transform: scale(0);
    }

    100% {
        opacity:1;
        transform: scale(1);
    } 
}

@keyframes fadein-scroll {
    0% {
        opacity:0;
        transform: translate(0, 2em);
    }

    100% {
        opacity:1;
        transform: translate(0, 0);
    } 
}

@keyframes fadein-tooltip {
    0% {
        opacity:0;
        transform: translate(0, -0.8em);
    }

    100% {
        opacity:1;
        transform: translate(0, 0);
    }  
}

/****** MEDIA QUERIES *******/
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    #nametagCloseX {
        display: block;
    }
}

/* To prevent text from wrapping on narrow displays*/
@media (max-aspect-ratio: 654/1106) {
    .landing-text {
        font-size: 8vw;
    }

    .nametag::before {
        width: 3.2vw;
        height: 3.2vw;
    }

    .nametag:hover::before {
        height: 0.48vw;
    }
}

/* If viewport becomes too wide, .landing-text font size responds to viewport height*/
@media (min-aspect-ratio: 880/324) {
    .landing-text {
        font-size: 13.5vh;
    }
}

/* On less wide displays, widen the nametag modal */
@media (max-aspect-ratio: 10/7) {
    #nametagCard {
        width: 60vw;
        height: calc(60vw * 28 / 47);
    }

     /* multiply by 60/47 (new/original width) for all below */
    #nametagName {
        font-size: calc(6vw * 60 / 47);
    }

    #nametagSite {
        font-size: calc(1.5vw * 60 / 47); 
    }

    #nametagBL {
        font-size: calc(5vw * 60 / 47);
    }

    #nametagClose {
        font-size: calc(5vw * 60 / 47);
    }

    #nametagCloseX {
        font-size: calc(2vw * 60 / 47);
    }

    #nametagEmail, #nametagLI, #nametagGH {
        width: calc(6.5vw * 60 / 47); 
    }

    .tooltip {
        font-size: calc(1.5vw * 60 / 47);
    }
}


/* On portrait mobile, widen the nametag modal */
@media (max-aspect-ratio: 1/1) {
    #nametagCard {
        width: 90vw;
        height: calc(90vw * 28 / 47);
    }

     /* multiply by 90/47 (new/original width) for all below */
    #nametagName {
        font-size: calc(6vw * 90 / 47);
    }

    #nametagSite {
        font-size: calc(1.5vw * 90 / 47); 
    }

    #nametagBL {
        font-size: calc(5vw * 90 / 47);
    }

    #nametagClose {
        font-size: calc(5vw * 90 / 47);
    }

    #nametagCloseX {
        font-size: calc(2vw * 90 / 47);
    }

    #nametagEmail, #nametagLI, #nametagGH {
        width: calc(6.5vw * 90 / 47); 
    }

    .tooltip {
        font-size: calc(1.5vw * 90 / 47);
    }
}

/* On portrait, widen the nametag modal */
@media (max-aspect-ratio: 1/1) and (max-width: 768px) {
    #nametagCard {
        width: 80vw;
        height: calc(80vw * 28 / 47);
    }

     /* multiply by 80/47 (new/original width) for all below */
    #nametagName {
        font-size: calc(6vw * 80 / 47);
    }

    #nametagSite {
        font-size: calc(1.5vw * 80 / 47); 
    }

    #nametagBL {
        font-size: calc(5vw * 80 / 47);
    }

    #nametagClose {
        font-size: calc(5vw * 80 / 47);
    }

    #nametagCloseX {
        font-size: calc(2vw * 80 / 47);
    }

    #nametagEmail, #nametagLI, #nametagGH {
        width: calc(6.5vw * 80 / 47); 
    }

    .tooltip {
        font-size: calc(1.5vw * 80 / 47);
    }
}